<div class="row justify-content-center h1">Features</div>
<div class="row justify-content-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
    do
    eiusmod
    tempor</div>
<div class="row flex-wrap align-items-center">

    <div class="col-md-7">
        <div class="row flex-wrap justify-content-around">
            <div class="col-md-6 bg-white feature-detail">
                <div><i class="fa fa-heart text-primary"></i></div>
                <div class="h6 font-weight-bold text-primary">Made By Love</div>
                <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </div>
            </div>
            <div class="col-md-6 bg-white feature-detail">
                <div><i class="fa fa-tv text-primary"></i></div>
                <div class="h6 font-weight-bold text-primary">Modern Design</div>
                <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </div>
            </div>
        </div>
        <div class="row flex-wrap justify-content-around">
            <div class="col-md-6 bg-white feature-detail">
                <div><i class="fa fa-mobile text-primary" id="mobile-icon"></i></div>
                <div class="h6 font-weight-bold text-primary">Fully Responsive</div>
                <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </div>
            </div>
            <div class="col-md-6 bg-white feature-detail">
                <div><i class="fa fa-firefox text-primary"></i></div>
                <div class="h6 font-weight-bold text-primary">Cross Browser Support</div>
                <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 p-5">
        <div class="feature-image-container bg-white">
            <img class="w-75" src="../assets/images/feature.png" />
        </div>
    </div>
</div>