<div class="border-bottom border-secondary">
    <div class="h3 text-center"> Contact Us</div>
    <div class="text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor</div>
    <div class="row">
        <div class="col-lg-6 p-5">
            <form>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <input type="text" placeholder="Full Name*" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Your E-Mail*" />
                    </div>
                </div>
                <div class="mb-4"><input type="text" placeholder="Your Subject*" /></div>
                <div class="mb-4"><input type="text" id="message-input" placeholder="Message For Me*" /></div>
                <button class="btn button mt-0"> Send Message</button>
            </form>
        </div>

        <div class="col-lg-6 p-5 contact-us-address">
            <div class="h3 mb-4">Address Info</div>
            <div><b>Address:</b>17 Street Name Here Office, 80 Newlok US 8.</div>
            <div><b>Phone:</b>(+1) 1233656576 or (+1) 7656677675</div>
            <div><b>Email:</b>support@example.com</div>
            <div><b>Website:</b> www.example.com</div>
            <div>
                <i class="fa fa-facebook-f" id="fb-icon"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-skype"></i>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end p-2">
    <div class="col-md-2 h5 pl-4 font-weight-bold">Youmi</div>
    <div class="col-md-10 text-right pr-4">2020 @ Copyright youmi App. All right reserved.</div>
</div>