<div class="about-us-container row flex-wrap align-items-center m-0">
    <div class=" col-md-5 p-5">
        <div class="bg-light about-us-image-container">
            <img class="w-75" src="../assets/images/about-us.png" />
        </div>
    </div>
    <div class="col-md-7 about-us-des-cont">
        <div class="h1">About The App</div>
        <div class="about-us-des">There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable.There are many
            variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable.
            <br><br>
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
            hidden
            in the middle of text.If be sure there isn't anything
            embarrassing hidden
            in the middle of text.</div>
        <div>
            <button type="button" class="btn text-white border button">DOWNLOAD NOW</button>
        </div>
    </div>
</div>