<div class="text-center font-weight-bold h3">Pricing</div>
<div class="mb-5 text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor</div>
<div class="row m-0 justify-content-center">

    <div class="col-lg-4 column-container">
        <div class="bg-white column">
            <div class="inner-div">
                <div class="card w-75 shadow-lg curve-div">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Starter</h5>
                        <h5 class="card-title text-primary">$0</h5>
                        <p class="card-text">1GB of space safe, reliable backup access from anywhere simple life
                            sharing.</p>
                        <button class="btn button" id="pricing-button">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 column-container">
        <div class="bg-white column">
            <div class="inner-div">
                <div class="card w-75 shadow-lg curve-div">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Premium</h5>
                        <h5 class="card-title text-primary">$40</h5>
                        <p class="card-text">2GB of space safe, reliable backup access from anywhere simple life
                            sharing.</p>
                        <button class="btn button" id="pricing-button">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 column-container">
        <div class="bg-white column">
            <div class="inner-div">
                <div class="card w-75 shadow-lg curve-div">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Unlimited</h5>
                        <h5 class="card-title text-primary">$80</h5>
                        <p class="card-text">Unlimited space safe, reliable backup access from anywhere simple life
                            sharing.</p>
                        <button class="btn button" id="pricing-button">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>