<div class="container-fluid">

  <!-- About Page Start -->
  <div class="about-page-container">
    <app-about-page></app-about-page>
  </div>
  <!-- About Page End -->

  <!-- About Us Start -->
  <app-about-us></app-about-us>
  <!-- About Us End -->

  <!-- Features Start -->
  <div class="feature-container p-5">
    <app-features></app-features>
  </div>
  <!-- Features End -->

  <!-- Screenshots Start -->
  <div class="p-5 review-container">
    <app-screenshots></app-screenshots>
  </div>
  <!-- Screenshots End -->

  <!-- Pricing Start -->
  <div class="pricing-container p-5">
    <app-pricing></app-pricing>
  </div>
  <!-- Pricing End -->

  <!-- Review Start -->
  <div class="p-5 review-container">
    <app-review></app-review>
  </div>
  <!-- Review End -->

  <!-- Download Start -->
  <div class="download-container pt-5 pb-5">
    <app-download-app></app-download-app>
  </div>
  <!-- Download End -->

  <!-- Contact Us Start -->
  <div class="contact-us-container pt-5">
    <app-contact-us></app-contact-us>
  </div>
  <!-- Contact Us End -->