<div class="container-fluid">

  <!-- About Page Start -->
  <div class="about-page-container">
    <nav class="navbar navbar-dark navbar-expand-lg mr-auto">
      <div class="navbar-brand">YOUMI</div>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Home </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> About Us </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Features </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Screenshot</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Pricing </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Review </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Download </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="row align-items-center flex-wrap">
      <div class="col-md-6 text-white p-4">
        <div class="h1">Embrace Your New Perfect App</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</div>
        <div>
          <button type="button" class="btn text-white border button">GET APP NOW</button>
        </div>
      </div>
      <div class="col-md-6 p-5 about-page-img">
        <img class="w-50 " src="../assets/images/homepage.png" />
      </div>
    </div>
  </div>
  <!-- About Page End -->

  <!-- About Us Start -->
  <div class="about-us-container row flex-wrap align-items-center m-0">
    <div class=" col-md-5 p-5">
      <div class="bg-light about-us-image-container">
        <img class="w-75" src="../assets/images/about-us.png" />
      </div>
    </div>
    <div class="col-md-7 about-us-des-cont">
      <div class="h1">About The App</div>
      <div class="about-us-des">There are many variations of passages of Lorem Ipsum available, but the majority have
        suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable.There are many
        variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable.
        <br><br>
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
        in the middle of text.If be sure there isn't anything
        embarrassing hidden
        in the middle of text.</div>
      <div>
        <button type="button" class="btn text-white border button">DOWNLOAD NOW</button>
      </div>
    </div>
  </div>
  <!-- About Us End -->

  <!-- Features Start -->
  <div class="feature-container p-5">
    <div class="row justify-content-center h1">Features</div>
    <div class="row justify-content-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do
      eiusmod
      tempor</div>
    <div class="row flex-wrap align-items-center">

      <div class="col-md-7">
        <div class="row flex-wrap justify-content-around">
          <div class="col-md-6 bg-white feature-detail">
            <div><i class="fa fa-heart text-primary"></i></div>
            <div class="h6 font-weight-bold text-primary">Made By Love</div>
            <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
          </div>
          <div class="col-md-6 bg-white feature-detail">
            <div><i class="fa fa-tv text-primary"></i></div>
            <div class="h6 font-weight-bold text-primary">Modern Design</div>
            <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
          </div>
        </div>
        <div class="row flex-wrap justify-content-around">
          <div class="col-md-6 bg-white feature-detail">
            <div><i class="fa fa-mobile text-primary" id="mobile-icon"></i></div>
            <div class="h6 font-weight-bold text-primary">Fully Responsive</div>
            <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
          </div>
          <div class="col-md-6 bg-white feature-detail">
            <div><i class="fa fa-firefox text-primary"></i></div>
            <div class="h6 font-weight-bold text-primary">Cross Browser Support</div>
            <div class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 p-5">
        <div class="feature-image-container bg-white">
          <img class="w-75" src="../assets/images/feature.png" />
        </div>
      </div>
    </div>
  </div>
  <!-- Features End -->

  <!-- Pricing Start -->
  <div class="pricing-container p-5">
    <div class="text-center font-weight-bold h3">Pricing</div>
    <div class="mb-5 text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor</div>
    <div class="row m-0 justify-content-center">

      <div class="col-lg-4 column-container">
        <div class="bg-white column">
          <div class="inner-div">
            <div class="card w-75 shadow-lg curve-div">
              <div class="card-body">
                <h5 class="card-title text-primary">Starter</h5>
                <h5 class="card-title text-primary">$0</h5>
                <p class="card-text">1GB of space safe, reliable backup access from anywhere simple life sharing.</p>
                <button class="btn button" id="pricing-button">GET STARTED</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 column-container">
        <div class="bg-white column">
          <div class="inner-div">
            <div class="card w-75 shadow-lg curve-div">
              <div class="card-body">
                <h5 class="card-title text-primary">Premium</h5>
                <h5 class="card-title text-primary">$40</h5>
                <p class="card-text">2GB of space safe, reliable backup access from anywhere simple life sharing.</p>
                <button class="btn button" id="pricing-button">GET STARTED</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 column-container">
        <div class="bg-white column">
          <div class="inner-div">
            <div class="card w-75 shadow-lg curve-div">
              <div class="card-body">
                <h5 class="card-title text-primary">Unlimited</h5>
                <h5 class="card-title text-primary">$80</h5>
                <p class="card-text">Unlimited space safe, reliable backup access from anywhere simple life sharing.</p>
                <button class="btn button" id="pricing-button">GET STARTED</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Pricing End -->

  <!-- Review Start -->
  <div class="p-5 review-container">
    <app-review></app-review>
  </div>
  <!-- Review End -->

  <!-- Download Start -->
  <div class="download-container pt-5 pb-5">
    <div class="text-center h3">Download The App</div>
    <div class="text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor</div>
    <div class="row justify-content-center">

      <div class="col-lg-2 download-detail">
        <div class="button row flex-nowrap align-items-center" id="download-button">
          <div class="col-md-2"><i class="fa fa-play h5"></i></div>
          <div class="col-md-10">
            <div class="download-heading">Downlaod on the</div>
            <div class="download-heading font-weight-bold">PLAY STORE</div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 download-detail">
        <div class="button row flex-nowrap align-items-center" id="download-button">
          <div class="col-md-2"><i class="fa fa-apple h5"></i></div>
          <div class="col-md-10">
            <div class="download-heading">Downlaod on the</div>
            <div class="download-heading font-weight-bold">APP STORE</div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 download-detail">
        <div class="button row flex-nowrap align-items-center" id="download-button">
          <div class="col-md-2"><i class="fa fa-windows h5"></i></div>
          <div class="col-md-10">
            <div class="download-heading">Downlaod on the</div>
            <div class="font-weight-bold download-heading">WINDOW STORE</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Download End -->

  <!-- Contact Us Start -->
  <div class="contact-us-container pt-5">
    <div class="border-bottom border-secondary">
      <div class="h3 text-center"> Contact Us</div>
      <div class="text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor</div>
      <div class="row">
        <div class="col-lg-6 p-5">
          <form>
            <div class="row mb-4">
              <div class="col-md-6">
                <input type="text" placeholder="Full Name*" />
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Your E-Mail*" />
              </div>
            </div>
            <div class="mb-4"><input type="text" placeholder="Your Subject*" /></div>
            <div class="mb-4"><input type="text" id="message-input" placeholder="Message For Me*" /></div>
            <button class="btn button mt-0"> Send Message</button>
          </form>
        </div>

        <div class="col-lg-6 p-5 contact-us-address">
          <div class="h3 mb-4">Address Info</div>
          <div><b>Address:</b>17 Street Name Here Office, 80 Newlok US 8.</div>
          <div><b>Phone:</b>(+1) 1233656576 or (+1) 7656677675</div>
          <div><b>Email:</b>support@example.com</div>
          <div><b>Website:</b> www.example.com</div>
          <div>
            <i class="fa fa-facebook-f" id="fb-icon"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-skype"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end p-2">
      <div class="col-md-2 h5 pl-4 font-weight-bold">Youmi</div>
      <div class="col-md-10 text-right pr-4">2020 @ Copyright youmi App. All right reserved.</div>
    </div>
  </div>
  <!-- Contact Us End -->