<div>
    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="slide">
                <div class="card text-center p-2 review-con">
                    <img class="card-img-top w-25 rounded-circle profile-pic"
                        src="https://images.unsplash.com/profile-fb-1527368999-01bec71421e9.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"
                        alt="profile 1">
                    <div class="card-body">
                        <h5 class="card-title text-primary mb-1">Kayla</h5>
                        <h6> New York </h6>
                        <img src="../../assets/images/star.png" alt="stars" class="w-50 star-pic" />
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide">
                <div class="card text-center p-2 review-con">
                    <img class="card-img-top w-25 rounded-circle profile-pic"
                        src="https://images.unsplash.com/profile-fb-1489514020-f05366a37b5e.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"
                        alt="profile 2">
                    <div class="card-body">
                        <h5 class="card-title text-primary mb-1">Stephen Rule</h5>
                        <h6> California </h6>
                        <img src="../../assets/images/star.png" alt="stars" class="w-50 star-pic" />
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide">
                <div class="card text-center p-2 review-con">
                    <img class="card-img-top w-25 rounded-circle profile-pic"
                        src="https://static.intercomassets.com/avatars/1741877/square_128/photo_2020-08-10_12.28.41-1597087799.jpeg?1597087799"
                        alt="profile 3">
                    <div class="card-body">
                        <h5 class="card-title text-primary mb-1">Brooken Marry</h5>
                        <h6> New York </h6>
                        <img src="../../assets/images/star.png" alt="stars" class="w-50 star-pic" />
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide">
                <div class="card text-center p-2 review-con">
                    <img class="card-img-top w-25 rounded-circle profile-pic"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQiytgh4bjKQUBMLLgb203d9pFlOM0b82lniw&usqp=CAU"
                        alt="profile 4">
                    <div class="card-body">
                        <h5 class="card-title text-primary mb-1">Stephen</h5>
                        <h6> Singapore </h6>
                        <img src="../../assets/images/star.png" alt="stars" class="w-50 star-pic" />
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide">
                <div class="card text-center p-2 review-con">
                    <img class="card-img-top w-25 rounded-circle profile-pic"
                        src="https://static.intercomassets.com/avatars/1143992/square_128/Tiffany-1491608799.jpg?1491608799"
                        alt="profile 5">
                    <div class="card-body">
                        <h5 class="card-title text-primary mb-1">Kayla</h5>
                        <h6> HongKong </h6>
                        <img src="../../assets/images/star.png" alt="stars" class="w-50 star-pic" />
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </ng-template>


    </owl-carousel-o>
</div>