<div class="text-center h3">Download The App</div>
<div class="text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor</div>
<div class="row justify-content-center">

    <div class="col-lg-2 download-detail">
        <div class="button row flex-nowrap align-items-center" id="download-button">
            <div class="col-md-2"><i class="fa fa-play h5"></i></div>
            <div class="col-md-10">
                <div class="download-heading">Downlaod on the</div>
                <div class="download-heading font-weight-bold">PLAY STORE</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 download-detail">
        <div class="button row flex-nowrap align-items-center" id="download-button">
            <div class="col-md-2"><i class="fa fa-apple h5"></i></div>
            <div class="col-md-10">
                <div class="download-heading">Downlaod on the</div>
                <div class="download-heading font-weight-bold">APP STORE</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 download-detail">
        <div class="button row flex-nowrap align-items-center" id="download-button">
            <div class="col-md-2"><i class="fa fa-windows h5"></i></div>
            <div class="col-md-10">
                <div class="download-heading">Downlaod on the</div>
                <div class="font-weight-bold download-heading">WINDOW STORE</div>
            </div>
        </div>
    </div>

</div>