<div>
    <div class="text-center h3"> Screenshots </div>
    <div class="text-center text-secondary mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor</div>
    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-browser.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-cart.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-details.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-home.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-login.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-menu.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-profile.png" />
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide screenshots-con-size">
                <img src="../../assets/images/snap-register.png" />
            </div>
        </ng-template>
    </owl-carousel-o>
</div>